body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  background-color: #232729;
  width: 400px;
  height: 620px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.displayContainer {
  background-color: beige;
  width: 300px;
  height: 100px;

  margin: 20px;
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;

  font-family: monospace;
  font-size: 40px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  
}

.buttonContainer {
  background-color: #232729;
  width: 300px;
  height: 400px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 8px;
}

.button {
  background-color: gray;
  color: white;
  font-size: 32px;
  border-radius: 5px;
  border: solid 1px gray;
}

.button:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px) translateX(1px);
}

.button,.clear {
  font-size: 20px;
}

#add,
#multiply,
#divide,
#subtract {
  background-color: darkorange;
}